@model IEnumerable<Prova.Models.Cliente>
   
@{
    ViewData["Title"] = "Lista de Clientes";
}

<h1>Clientes</h1>

<p>
    <a class="btn btn-success" asp-action="Create">Adicionar Clientes</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>  
            
            <th>
                @Html.DisplayNameFor(model => model.Endereco)
            </th>           
            <th></th>
        </tr>
    </thead>
    <tbody>

    @foreach (var item in Model)
        {
            <tr>
                <td>
                    @item.Name
                </td>                        


                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                
                <td>
                    @Html.DisplayFor(modelItem => item.Endereco)
                </td>
                 
                 <td>
                    <a class="btn btn-outline-primary btn-sm" asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
                    <a class="btn btn-outline-info btn-sm" asp-action="Details" asp-route-id="@item.Id">Detalhes</a> |
                    <a class="btn btn-outline-danger text-white btn-sm"  asp-action="Delete" asp-route-id="@item.Id">Deletar</a>
                </td>
            </tr>
        }
    </tbody>
</table>
               